{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles_updated.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body class="dark_body">
    <div class="toggle-container">
        <button id="mode-toggle">
            <span class="material-symbols-outlined  dark">dark_mode</span>
            <span class="material-symbols-outlined light">light_mode</span>
        </button>
    </div>
    <div class="delete_box">
        <h2>Are you sure to delete "{{item}}"</h2>
        <div class="delete">
            <a href="{% url 'index' %}">Cancel</a>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="submit" value="Confirm">
            </form>   
        </div>      
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        const body = document.body;
        const modeToggle = document.getElementById('mode-toggle');

        // Check the initial mode preference (light or dark) using local storage
        const currentMode = localStorage.getItem('mode') || 'light';
        setMode(currentMode);

        // Toggle between light and dark modes
        modeToggle.addEventListener('click', function() {
            const newMode = body.classList.contains('dark_body') ? 'light' : 'dark';
            setMode(newMode);
            localStorage.setItem('mode', newMode);
        });

        // Function to set the mode
        function setMode(mode) {
            if (mode === 'dark') {
            body.classList.add('dark_body');
            } else {
            body.classList.remove('dark_body');
            }
        }
        });
    </script>
</body>
</html>

